<p>home works! - Olá {{ name }}</p>

<!-- <button [id]="idButton" [attr.aria-label]="name"></button>

<button (click)="submit()">Clique aqui!</button>
<button (click)="submitEvent($event)">Clique aqui!</button>

@if(deveMostrarTitulo) {
    <h1>Meu Título</h1>
} @else if (name == "Paulo") {
    <h1>Meu Título para Paulo</h1>
} @else {
    <h1>Não Verdadeiro</h1>
}

@for (item of listItems; track $index) {
    <p> {{ listItems }} </p>
} -->

<h1>
    {{ valorAleatorio }}
</h1>

<button (click)="submit()">Clique!</button>